* {
   margin: 0 !important;
   padding: 0 !important;
   direction: rtl !important;
   font-family: Vazir !important;
}

ul {
   list-style: none !important;
}

   ul li {
      display: inline !important;
      margin: 0px 8px !important;
   }

a {
   text-decoration-line: none !important;
   color: inherit !important;
}

.report-card {
   transition: all .3s;
}

.report-card:hover {
   transform: translateY(-7px);
}

td , th{
   padding : 7px !important;
}

.form-container{
   max-width : 500px;
}